<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time table</title>
    <link rel="stylesheet" href="/static/timetable.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Timetable</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="/static/vvitlogo.jpeg"/><span></span><span></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Vidya Vikas Institute of Engineering & Technology&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            
            
            </a>
            
          
          <!-- Align the button to the left -->
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">My DashBoard</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/assessment">Assessment</a>
                </li>
                
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Timetable
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="/tt">Class Timetable</a></li>
                    <li><a class="dropdown-item" href="/exam">Exam Timetable</a>
                     </ul>
                </li>
                <li class="nav-item"></li>
                  <a class="nav-link" href="/attendance">Attendance</a>
                  
                </li>
                <li class="nav-item"></li>
                  <a class="nav-link" href="/lesson">Lesson Plan</a>
                  
                </li>
                <li class="nav-item"></li>
                  <a class="nav-link" href="/note">Notificatios</a>
                </li>
                <li class="nav-item"></li>
                  <a class="nav-link" href="#">My Profile</a>
                </li>
              </ul>
             
            </div>
          </div>
        </div>
      </nav>
  
    <div class="container">
       <table cellspacing="4">
        <tr>
            <td> <img src="/static/vvitlogo.jpeg " align="left"></td><br><br>
            <td><h3>VIDYA VIKAS INSTITUTE OF ENGINEERING & TECHNOLOGY</h3>
                <p>#127-128,Mysuru-Bannur Road , Alanahalli, Mysuru , 570028</p>
                <h4>DEPARTMENT OF INFORMATION SCIENCE AND ENGINEERING</h4></td>
        </tr>
       </table>
        <div class="content">
           
        
        <table>
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>9:00 AM - 10:00 AM</td>
                    <td></td>
                    <td>21CS744
                        (SG)
                    </td>
                    <td>21IS71
                        (BMS)
                    </td>
                    <td>21IS71
                        (BMS)
                    </td>
                    <td>
                        21CS744
                        (SG)
                    </td>
                </tr>
                <tr>
                    <td>10:00 AM - 11:00 AM</td>
                    <td>21IS71
                        (BMS)
                    </td>
                    <td>21IS733
                        (DN)
                    </td>
                    <td>21IS733
                        (DN)</td>
                    <td>21IS733
                        (DN)
                    </td>
                    <td>21IS733
                        (DN)</td>
                </tr>
                <tr>
                    <td>11:00 AM - 11:15 AM</td>
                    <td colspan="5" class="break">Tea Break</td>
                </tr>
                <tr>
                    <td>12:15 PM - 1:15 PM</td>
                    <td>21XX75X</td>
                    <td>21IS71
                        (BMS)
                    </td>
                    <td>21XX75X</td>
                    <td>Placement Activity</td>
                    <td>21XX75X</td>
                </tr>
                <tr>
                    <td>1:15 PM - 2:00 PM</td>
                    <td colspan="5" class="break">Lunch Break</td>
                </tr>
                <tr>
                    <td>2:00 PM - 3:00 PM</td>
                    <td colspan="5" class="intern">Internship</td> 
                </tr>
                <tr>
                    <td>3:00 PM - 4:00 PM</td>
                    <td colspan="5" class="intern">Internship</td> 
            </tbody>
        </table>
    </div>
    <table cellspacing="5" cellpadding="5">
         <thead>
            <tr>
                <th>Subject code</th>
                <th>Subject</th>
                <th>Faculty</th>
            </tr>
         </thead>
         <tbody>
            <tr>
                <td>21IS71</td>
                <td>Cryptography and Network Security</td>
                <td>Dr.Somashekhar B M</td>
            </tr>
            <tr>
                <td>21CS7</td>
                <td>Cloud Computing</td>
                <td>Dr.Arun Nagarle</td>
            </tr>
            <tr>
                <td>21IS733</td>
                <td>User Interface Design</td>
                <td>Prof.Deepthi N</td>
            </tr>
            <tr>
                <td>21CS744</td>
                <td>NOSQL Database</td>
                <td> Prof.Shobha G</td>
            </tr>
             <tr>
                <td>21XX75X</td>
                <td>Open elective Course-II</td>
                <td></td>
             </tr>
             <tr>
                <td>21ISP76</td>
                <td>Project Work</td>
                <td>Dr.Somashekhar B M</td>
             </tr>
         </tbody>
    </table>


</body>
</html>